AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_DEFAULT_REGION=ap-south-1

S3_BUCKET=claude-test-tube
S3_INPUT_PREFIX=emails/
S3_OUTPUT_PREFIX=output/
S3_APPROVED_PREFIX=Approved/
S3_REJECT_PREFIX=Reject/

CORS_ORIGINS=http://localhost:3000
